
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 w-75 rounded-3" style="
    background-image: url('https://cdn.vox-cdn.com/thumbor/8XbAb6nXxoye4gpc_Wwti0IX3bk=/0x407:4751x2783/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/23172798/Table_Overview_World_Red_Eye.jpg');
    background-size: cover;">
        <h1 class="display-5 fw-bold text-white">Choose from thousands of recipes</h1>
        <p class="col-md-8 fs-4 text-white">Appropriately integrate technically sound value with scalable infomediaries negotiate sustainable strategic theme areas.</p>
        <button class="btn btn-primary btn-lg text-white" type="button">Sign up today</button>
        {{!-- <img class="bg-img" src="https://renzifoodservice.com/sites/default/files/styles/768x288/public/millennials_banner.png?itok=YkdTpY4D" alt="" > --}}
    </div>
</div>

<div class="row wrapper ">
    
    <div class="col-md-2 p-3 sidebar m-5">
        <h2 class="w-100">Select A Category</h2>
            <ul class="list-group d-grid gap-3">
                {{#each categories as |category|}}
                <div class="p-2 bg-light border recipecard">{{category.category_name}}</div>
                {{/each}}
            </ul>
    </div>

    <div class="col-8 container">
        <h2>Recipes</h2>
        <div class="recipes row justify-content-center">
            {{#each recipes as |recipe|}}
            <div class="recipecard" style="width: 18rem;">
                <a href="http://localhost:3001/recipe/{{recipe.id}}" class="text-decoration-none">
                    <img src="{{recipe.image}}" class="img-top w-100 recipeimg" height="60%" alt="...">
                    <div class="card-body border rounded-bottom">
                        <h5 class="card-title">{{recipe.recipe_name}}</h5>
                        <p class="card-text">Created by <span class="text-highlight"> {{ recipe.user.user_name }} </span></p>
                        <a href="#" class="btn btn-primary">Add To Favorites</a>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>